@charset "utf-8";
// variable.scss

// $l:(#faa,#dde,powderblue,#bca,#ccc,yellow,#f1f1f1,#b2b2b2,red,#363636);

$url:"../../img/";

$bgc:(white:#fff, 
    black:#000,
    point:#c33, 
    fblack:#333,
    gnb:#e6e6e6,
    footer:#c1c1c1);

$ff:'NanumGothic', 'OpenSans', arial, sans-serif;

%boxsize{box-sizing:border-box;}
