@charset "utf-8";
// variable.scss

$color:(
    primary:#a3a3a6,
    point:#44d,
    white:#fff,
    line:#bbb
);

$u:"../../img/";

$l:(#faa,#dde,powderblue,#bca,#ccc,yellow,#f1f1f1,#b2b2b2,red,#363636);

%boxsize{box-sizing:border-box;}
