/* step_01.scss */
#wrap { width: 100%; min-height: 960px; height: auto; min-height: 1000px; margin: 0 auto; background-color: #bcc; }

#headBox { width: 100%; height: 150px; background-color: #9eb6b6; }

#headBox > h1 { color: #bcc; }

#headBox > h1:hover { color: #3a4e4e; }

#adBox { width: 100%; height: 450px; background-color: rgba(85, 123, 35, 0.5); }

#adBox h2 { width: 100%; height: auto; background-color: #0ac; }

#adBox h2:hover { color: #3a4e4e; }

#content { width: 100%; height: 500px; background-color: #668888; }

#footBox { width: 100%; height: 50px; background-color: black; }
