@charset "utf-8";
/*! hotelJoin_header.css */

#wrap{width:950px; height:auto; min-height:150px; margin:0 auto;}

#headBox{
    width:100%; height:182px; 
    background-color:#263747;
}
  #unb{
      width:100%; height:40px; float:left;
      padding-top:12px; 
      padding-bottom:9px;
      box-sizing:border-box;
      background-color:#404040;
  }
    #unb>ul{
        width:100%; height:40px;
        position:absolute;
    }
    #unb>ul>li{
        width:100%; height:19px; 
        background-repeat:no-repeat;
    }
    #unb>ul>li:nth-child(1){
        background-image: url("../../img/hotelJoin/img/header/unbMenu/unbMenu_01.jpg");
        width:215px;
        position:absolute;
        left:0;
    }
    #unb>ul>li:nth-child(2){
        background-image: url("../../img/hotelJoin/img/header/unbMenu/unbMenu_02.jpg");
        width:160px;
        position:absolute;
        left:480px;
    }
    #unb>ul>li:nth-child(3){
        background-image: url("../../img/hotelJoin/img/header/unbMenu/unbMenu_03.jpg");
        width:40px;
        position:absolute;
        left:666px;
    }
    #unb>ul>li:nth-child(4){
        background-image: url("../../img/hotelJoin/img/header/unbMenu/unbMenu_04.jpg");
        width:55px;
        position:absolute;
        left:720px;
    }
    #unb>ul>li:nth-child(5){
        background-image: url("../../img/hotelJoin/img/header/unbMenu/unbMenu_05.jpg");
        width:80px;
        position:absolute;
        left:785px;
    }
    #unb>ul>li:nth-child(6){
        background-image: url("../../img/hotelJoin/img/header/unbMenu/unbMenu_06.jpg");
        width:75px;
        position:absolute;
        left:875px;
    }

  #logoMenu{
      width:950px; 
      height:80px; 
      float:left;
      padding:20px 0 20px 0;
      box-sizing:border-box;
      background-color:#243545;
  }
    h1{
        background-image: url("../../img/hotelJoin/img/header/logoMenu/logoMenu_01.jpg");
        background-repeat:no-repeat;
        width:164px; 
        height:40px;
        position:absolute;
        margin-left:393px;
    }
    #logoMenu>ul{
        width:100%; 
        height:40px;/*
        position:absolute;*/
    }
    #logoMenu>ul>li{
        width:100%; 
        height:40px;
        float:left;
        background-repeat:no-repeat;
    }

    #logoMenu>ul>li:nth-child(1){
        background-image: url("../../img/hotelJoin/img/header/logoMenu/logoMenu_02.jpg");
        width:93px; 
        height:40px;
        position:absolute;
        margin-left:123px;
        /*background-position:-669px -36px;*/
    }
    #logoMenu>ul>li:nth-child(2){
        background-image: url("../../img/hotelJoin/img/header/logoMenu/logoMenu_03.jpg");
        width:79px; 
        height:40px;
        position:absolute;
        margin-left:23px;
        /*background-position:-795px -36px;*/
    }
    #logoMenu>ul>li:nth-child(3){
        background-image: url("../../img/hotelJoin/img/header/logoMenu/logoMenu_04.jpg");
        width:56px; 
        height:40px;
        position:absolute;
        margin-left:20px;
        /*background-position:-894px -36px;*/
    }

  #gnb{
        width:950px; height:61px; float:left;
        padding:21px 0 22px 0; box-sizing:border-box;
        background-color:#2c3e4c;
  }
    #gnb>ul{width:100%; height:100%;}
    #gnb>ul>li{
          width:100%; height:18px; float:left;
          background-repeat:no-repeat;
    }
    #gnb>ul>li:nth-child(1){
          background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_01.jpg");
          width:32px;
          position:left;
          margin-right:29px;
    }
    #gnb>ul>li:nth-child(2){
          background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_02.jpg");
          width:76px;
          position:left;
          margin-right:19px;
    }
    #gnb>ul>li:nth-child(3){
          background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_03.jpg");
          width:32px;
          position:left;
          margin-right:17px;
    }
    #gnb>ul>li:nth-child(4){
          background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_04.jpg");
          width:46px;
          position:left;
          margin-right:18px;
    }
    #gnb>ul>li:nth-child(5){
            background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_05.jpg");
            width:32px;
            position:left;
            margin-right:19px;
    }
    #gnb>ul>li:nth-child(6){
            background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_06.jpg");
            width:66px;
            position:left;
            margin-right:39px;
    }
    #gnb>ul>li:nth-child(7){
            background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_07.jpg");
            width:34px;
            position:left;
            margin-right:29px;
    }
    #gnb>ul>li:nth-child(8){
            background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_08.jpg");
            width:30px;
            position:left;
            margin-right:17px;
    }
    #gnb>ul>li:nth-child(9){
            background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_09.jpg");
            width:64px;
            position:left;
            margin-right:17px;
    }
    #gnb>ul>li:nth-child(10){
        background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_10.jpg");
        width:44px;
        position:left;
        margin-right:17px;
    }
    #gnb>ul>li:nth-child(11){
        background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_11.jpg");
        width:32px;
        position:left;
        margin-right:16px;
    }
    #gnb>ul>li:nth-child(12){
        background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_12.jpg");
        width:32px;
        position:left;
        margin-right:17px;
    }
    #gnb>ul>li:nth-child(13){
        background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_13.jpg");
        width:80px;
        position:left;
        margin-right:46px;
    }
    #gnb>ul>li:nth-child(14){
        background-image: url("../../img/hotelJoin/img/header/gnbMenu/gnbMenu_14.jpg");
        width:24px;
        position:left;
        margin-right:20px;
    }