/* ! layoutTest_170620_03.css  layoutTest_170620_03.html 문서 디자인 영역 */
@charset "utf-8";

#wrap{width:800px; height:1740px; background-color: #ccc; margin:0 auto;}

/* #headBox ________________________________________________ */
#headBox{width:auto; height:100px; background-color: #cff;
  padding:30px 20px; box-sizing:border-box;}
  h1{width:70px; height:30px; float:left; background-color: #f8f; margin-right:150px;}
  #gnb{width:300px; height:30px; float:left; background-color: #f8f;}
    #gnb>ul>li{width:30px; height:30px; float:left; background-color: #f8f; margin-right:40px;}
  #unb{width:120px; height:30px; float:right; background-color: #f88; margin-right:20px;}
    #unb>ul>li{width:30px; height:30px; float:left; background-color: #f8f; margin-left:10px;}

/* #contentBox ________________________________________________ */
#contentBox{width:100%; height:auto; background-color: #ffc;}
  .adBox_1{width:100%; height:200px; background-color: #158;}
  .search_box{width:100%; height:150px; background-color: #bcb;
  padding:5px; box-sizing:border-box;}
    .search1{width:100%; height:40px; float:left; background-color: #cdb79e;}
      .search_box>.search1>ul>li{width:150px; height:40px; float:left; background-color: #cfff;}
  .image_box{width:100%; height:auto; padding:70px 10px; box-sizing:border-box;
    background-color:#156;}
    /*.image_box>ul{width: 100%; height:100%;}*/
    .image_box>ul>li{width:100%; height:170px; background-color:#c7e; margin-bottom:5px;}
      .image_box>ul>li>.box1{width:200px; height:140px; float:left; background-color: #fff; margin-left:20px;}
    .image_box>ul>li.green_box{width:100%; height:170px; background-color: #5feee5;}
      .image_box>ul>li>.box1{width:200px; height:140px; float:left; background-color: #fff; margin-left:20px;}
    .more_box{width:100%; height:50px; background-color: #fff; margin:30px 0;}

  .adBox_2{width:100%; height:200px; background-color: #b81;}

/* #footBox ________________________________________________ */
#footBox{width:100%; height:auto; background-color: #347;
 padding:10px; box-sizing:border-box;}
  #footBox>ul>li{width:120px; height:90px; float:left; background-color: #9d63d9; margin-right:60px;}
    #inb{width:600px; height:70px; float:left; background-color: #489; margin-top:30px;}
    h2{width:50px; height:100px; float:right; background-color:#fff; margin-top:100px;}