/* ! layoutTest_170621_01.css  layoutTest_170621_01.html 문서 디자인 영역 */
@charset "utf-8";

#wrap{width: 978px; height: 1740px; background-color:#ccc; margin:0 auto;}

/* #headBox ________________________________________________ */
#headBox{width:100%; height: 150px; background-color: #eee; padding:10px; box-sizing:border-box;}
  h1{width: 125px; height: 125px; float:left; background-color:#fff; margin-right:20px;}
  #gnb{width:650px; height:60px; float:left; background-color:#cdb79e; margin-top:30px;}
  #unb{width:40px; height:40px; float:right; background-color:#8b7d6b; margin-top:15px; margin-right:15px;}

/* #contentBox ________________________________________________ */
#contentBox{width:100%; height: 700px; background-color: #eee; margin-top:20px;}
  .ad_box{width: 100%; height: 200px; background-color: #ededff;}
  .con_box{width: 100%; height: 300px; background-color: #ffeded;}
  .click_box{width: 100%; height: 140px; background-color: #edffed;}
  .image_box{width: 100%; height: 700px; background-color: #789dee;}

/* #footBox ________________________________________________ */
#footBox{width:100%; height: 150px; background-color: #eee; padding:25px 100px; box-sizing:border-box;
  margin-top:20px;}
  h2{width: 100px; height: 100px; float:left; background-color: #fff; margin-right:50px;}
  address{width: 600px; height: 100px; float:left; background-color: #fff;}