@charset "utf-8";
/*! guess_sub3.html 디자인 영역*/
@import "../base/variable";
@import "../base/mixin";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{overflow-x:hidden;}
#wrap{
    width:100%; min-width:940px; height:auto; margin-top:80px;
}

#headBox{
    width:960px; height:auto;
    z-index:100;
    position:fixed;
    top:0;
    left:50%;
    padding:10px 0;
    @extend %boxsize;
    margin-left:-470px;
    background-color:rgba(map-get($bgc,white),0.8);
    color:map-get($bgc,bk);
    font-size:1.2em;
    font-family:$ff;
    text-align:center;
    text-transform:uppercase;
    >h1{
        width:200px; height:60px;
        float:left; 
        >a{
            width:inherit; height:60px;
            float:left;
            margin-left:70px;
            @include bg($f:"guess_h1_logo.png");
        }
    }
    >.nav{
        width:260px/*240px*/; height:auto;
        float:right;
        position:relative;
        >#btn_menu{
            width:44px; height:46px;
            float:right;
            margin-top:10px;
            margin-right:80px;
            @include bg($f:"btn_menu.png");
        }
        >dl{
            width:260px; height:auto;
            float:right;
            z-index:100;
            position:absolute;
            right:-76%;
            margin-top:70px;
            background-color:map-get($bgc,gnb);
            dd:nth-child(2){
                width:100%; height:90px;
                float:left;
                padding:30px;
                padding-left:22px;
                @extend %boxsize;
                background-color:map-get($bgc,white);
                font-weight:bold;
                font-size:1.3em;
                border-bottom:1px solid map-get($bgc,bk);
                &:hover{
                    padding:24px;
                    @extend %boxsize;
                    font-size:1.5em;
                    border:0.2em solid map-get($bgc,bk);
                    transition:all 0.4s ease 0.18s;
                }
            }
            dd:nth-child(3){
                width:100%; height:60px;
                float:left;
                padding:20px;
                @extend %boxsize;
                font-weight:bold;
                transition:color 0.3s linear;
                &:hover{
                    z-index:120;
                    background-color:map-get($bgc,bk);
                    color:map-get($bgc,white);
                }
                >a:hover{@extend %ahover;}
            }
            dd:nth-child(4){
                width:100%; height:60px;
                float:left;
                padding:20px;
                @extend %boxsize;
                font-weight:bold;
                transition:color 0.3s linear;
                &:hover{
                    z-index:120;
                    background-color:map-get($bgc,bk);
                    color:map-get($bgc,white);
                }
                >a:hover{@extend %ahover;}
            }
            dd:nth-child(5){
                width:100%; height:62px;
                float:left;
                padding:20px;
                @extend %boxsize;
                font-weight:bold;
                transition:color 0.3s linear;
                // border-left:1em solid map-get($bgc,white);
                &:hover{
                    z-index:120;
                    background-color:map-get($bgc,bk);
                    color:map-get($bgc,white);
                }
                >a:hover{@extend %ahover;}
            }
            dd:last-child{
                width:100%; height:60px;
                float:left;
                padding:20px;
                padding-left:0px;
                @extend %boxsize;
                font-weight:bold;
                border-left:1em solid map-get($bgc,red);
                transition:color 0.3s linear;
                &:hover{
                    z-index:120;
                    background-color:map-get($bgc,red);
                    color:map-get($bgc,white);
                }
                >a:hover{@extend %ahover;}
            }
        } // dl
    } // .nav_btn
}   // #headBox

#adBanner{
    width:940px; height:auto;
    margin:0 auto;
    margin-top:6em;
    margin-bottom:11.25em;
    .long_jacket{
        width:500px; height:700px;
        float:left;
        @include bg($f:"guess_suzy_1.jpg");
    }
    .fall_jacket{
        width:260px; height:700px;
        float:left;
        @include bg($f:"guess_suzy_2.jpg",$s:cover);
    }
    .denim_bag{
        width:180px; height:700px;
        float:left;
        @include bg($f:"guess_suzy_3.jpg",$s:cover);
    }
}

#conBox{
    width:940px; height:auto;
    margin:0 auto;
    margin-bottom:6em;
    background-color:map-get($bgc,white);
    color:map-get($bgc,bk);
    text-align:center;
    >.new_products{
        width:940px; height:auto;
        text-transform:uppercase;
        >h4{
            width:940px; height:48px;
            padding-bottom:40px;
            margin:0 auto 130px;
            font-size:2.25em;
            font-family:$ff;
            border-bottom:4px solid map-get($bgc,red);
        }
        >.select_area{
            width:100%; height:auto;
            margin:0 auto 80px;
            >.select_color{
                width:120px; height:40px;
                float:left;
                padding:10px;
                @extend %boxsize;
                background-color:map-get($bgc,white);
                text-transform:uppercase;
                font-size:1em;
                font-family:$ff;
                text-align:center;
            }
            >.select_size{
                width:80px; height:40px;
                float:left;
                padding:10px;
                @extend %boxsize;
                margin-left:20px;
                background-color:map-get($bgc,white);
                text-transform:uppercase;
                font-size:1em;
                font-family:$ff;
                text-align:center;
            }
            >.select_sort{
                width:190px; height:40px;
                float:right;
                padding:10px;
                @extend %boxsize;
                background-color:map-get($bgc,white);
                text-transform:uppercase;
                font-size:1em;
                font-family:$ff;
                text-align:center;
            }
        }
        >.products_boxes{
            width:100%; height:auto;
            >.popular_box{
                width:940px; height:340px;
                float:left;
                margin-bottom:8.125em;
                >#imgBackPack{
                    width:260px; height:320px;
                    float:left;
                    @include bg($f:"guess_products_backpack.jpg");
                    >.cover_name{
                        width:260px; height:50px;
                        margin-bottom:220px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                    >.cover_price{
                        width:260px; height:50px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                    
                }
                >#imgLongTshirt{
                    width:260px; height:320px;
                    float:left;
                    margin-left:80px;
                    @include bg($f:"guess_products_longTshirt.jpg");
                    >.cover_name{
                        width:260px; height:50px;
                        margin-bottom:220px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                    >.cover_price{
                        width:260px; height:50px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                }
                >#imgRobeCadigan{
                    width:260px; height:320px;
                    float:right;
                    margin-left:80px;
                    @include bg($f:"guess_products_robeCadigan.jpg");
                    >.cover_name{
                        width:260px; height:50px;
                        margin-bottom:220px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                    >.cover_price{
                        width:260px; height:50px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                }
            }   // .popular_box

            >.newest_box{
                width:940px; height:340px;
                float:left;
                margin-bottom:11.25em;
                >#imgLongJacket{
                    width:260px; height:320px;
                    float:left;
                    @include bg($f:"guess_products_longJacket.jpg");
                    >.cover_name{
                        width:260px; height:50px;
                        margin-bottom:220px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                    >.cover_price{
                        width:260px; height:50px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                }
                >#imgCottonJeans{
                    width:260px; height:320px;
                    float:left;
                    margin-left:80px;
                    @include bg($f:"guess_products_cottonJeans.jpg");
                    >.cover_name{
                        width:260px; height:50px;
                        margin-bottom:220px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                    >.cover_price{
                        width:260px; height:50px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                }
                >#imgSkinnyJeans{
                    width:260px; height:320px;
                    float:right;
                    margin-left:80px;
                    @include bg($f:"guess_products_skinnyJeans.jpg");
                    >.cover_name{
                        width:260px; height:50px;
                        margin-bottom:220px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                    >.cover_price{
                        width:260px; height:50px;
                        background-color:map-get($bgc,gnb);
                        line-height:50px;
                    }
                }
            }   // .newest_box

        }
    }
}   // #conBox

#footBox{
    width:100%; height:80px;
    padding:30px;
    @extend %boxsize;
    background-color:map-get($bgc,fbg);
    color:map-get($bgc,bk);
    font-family:$ff;
    text-align:center;
    >address{
        margin-bottom:40px;
        line-height:20px;
        font-weight:500;
        >.company_info{
            font-weight:bolder;
        }
    }
    >p{
        font-size:1em;
        cursor:pointer;
        &:hover{font-weight:bold; color:map-get($bgc,white);}
    }
        
}   // #footBox