@charset "utf-8";
/*! guess_sub2.html 디자인 영역*/
// @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import "../base/variable";
@import "../base/mixin";

#wrap{
      width:940px; height:auto; margin:0 auto;
}

#headBox{
        width:100%; height:160px;
        padding:50px; 
        box-sizing:border-box;
        >h1{
            width:206px; height:50px;
            float:left;
            @include bg($f:"guess_logo_3.png");
        }
        >#btn_menu{
                    width:54px; height:56px;
                    float:right;
                    @include bg($f:"btn_menu_2.png");
        }
}   // #headBox

#conBox{
        width:100%; height:4944px;
        background-color:map-get($color,primary);
        >#adBox{
                width:940px; height:226px;
                margin-bottom:5em;
                @include bg($f:"guess_ads.jpg");
        }
        >#articleBox{
                    width:100%; height:4944px;
                    background-color:#fb9;
                    >#aboutInfo{
                                width:100%; height:826px;
                                margin-bottom:11.25em;
                                background-color:gray;
                                >h3{
                                    width:100%;
                                    float:left;
                                    font-size:2.25em;
                                    font-family:'Nanum Gothic', sans-serif;
                                    text-align:center;
                                    margin-bottom:40px;
                                }
                                >.redLine{
                                    @include redLn();
                                }
                                >#aboutImg{
                                    width:80%; height:296px;
                                    float:right;
                                    @include bg($f:"guess_banner.jpg");
                                }
                                >#aboutText{
                                    border:1px solid #333;
                                }
                                >#adImg{
                                    border:1px solid #333;
                                }
                                >#guessText{
                                    border:1px solid #333;
                                }
                    }
                    >#brandInfo{
                                width:100%; height:520px;
                                margin-bottom:11.25em;
                                border:1px solid #333;
                    }
                    >#totalInfo{
                                width:100%; height:500px;
                                margin-bottom:11.25em;      
                                border:1px solid #333;
                    }
                    >#styleInfo{
                                width:100%; height:500px;
                                margin-bottom:11.25em;
                                border:1px solid #333;
                    }
                    >#logoInfo{
                                width:100%; height:480px;
                                margin-bottom:11.25em;
                                border:1px solid #333;
                    }
                    >#asapInfo{ 
                                width:100%; height:500px;
                                margin-bottom:10em;
                                border:1px solid #333;
                    }
                    >#lifeInfo{
                                width:100%; height:500px;
                                margin-bottom:5em;
                                border:1px solid #333;
                    }
        }
}   // #conBox

#footBox{
        width:100%; height:100px;
        background-color:#c1c1c1;
        >p{
            padding-top:40px;
            box-sizing:border-box;
            font-size:1em;
            font-family:'Nanum Gothic', sans-serif;
            text-align:center;
        }
}   // #footBox