@charset "utf-8";
/*! guess_main.html */

#wrap{
      width:960px; height:auto; margin:0 auto;
}

#headBox{
        width:100%; height:200px;
        padding:60 60 60 60px; 
        box-sizing:border-box;
        background-color:#ffc;
}

#conBox{
        width:100%; height:500px;
        background-color:#456;
}

#footBox{
        width:100%; height:100px;
        background-color:#498;
}