@charset "utf-8";
/* guess_main.html 디자인 영역 */
// @import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import "../base/variable";
@import "../base/mixin";

body{overflow-x:hidden;}
#wrap{
      width:100%; min-width:940px; height:auto; margin-top:130px;
}

#headBox{
        width:940px; height:auto;
        position:fixed;
        z-index:100;
        top:0;
        left:50%;
        margin-left:-470px;
        padding:30px;
        @extend %boxsize;
        background-color:map-get($bgc,primary);
        text-transform:uppercase;
        >h1{
            width:220px; height:70px;
            float:left;
            @include bg($f:"guess_logo_3.png");
            >a{width: 100%; height: auto;}
        }
        >.nav_btn{
                width:240px; height:auto;
                position: relative;
            >#btn_menu{
                width:46px; height:48px;
                float:right;
                position: absolute;
                top:10%;
                right:-260%;
                @include bg($f:"btn_menu_2.png");
            }
            >dl{
                width:inherit; height:auto;
                position: absolute; 
                float:right;
                top:143%;
                right:-280%;
                z-index:100;
                background-color:#e6e6e6;
                dd:nth-child(2){
                    width:240px; height:100px;
                    float:left;
                    padding:30px;
                    @extend %boxsize;
                    font-weight:bold;
                    font-size:1.4em;
                    font-family:$ff;
                    text-align:center;
                    border-bottom:1px solid #333;
                }
                dd:nth-child(3){
                    width:240px; height:72px;
                    float:left;
                    padding:20px;
                    @extend %boxsize;
                    font-weight:bold;
                    font-size:1.4em;
                    font-family:$ff;
                    text-align:center;
                    &:hover{background-color:#fff;}
                }
                dd:nth-child(4){
                    width:240px; height:72px;
                    float:left;
                    padding:20px;
                    @extend %boxsize;
                    font-weight:bold;
                    font-size:1.4em;
                    font-family:$ff;
                    text-align:center;
                    &:hover{background-color:#fff;}
                }
                dd:nth-child(5){
                    width:240px; height:72px;
                    float:left;
                    padding:20px;
                    @extend %boxsize;
                    font-weight:bold;
                    font-size:1.4em;
                    font-family:$ff;
                    text-align:center;
                    &:hover{background-color:#fff;}
                }
                dd:last-child{
                    width:240px; height:74px;
                    float:left;
                    padding:20px;
                    @extend %boxsize;
                    font-weight:bold;
                    font-size:1.4em;
                    font-family:$ff;
                    text-align:center;
                    &:hover{background-color:#c33;}
                }
            } // dl
        } // .nav_btn
}   // #headBox

#conBox{
        width:940px; height:auto;
        margin:0 auto;
        background-color:map-get($bgc,primary);
        >#adBox{
            width:100vw; height:1000px;
            position: relative;
            left:50%;
            margin:0 auto;
            margin-left:-50vw;
            margin-bottom:11.25em;
            @include bg($f:"guess_ad.jpg",$s:cover);
        }
        >#articleBox{
                width:100%; height:3460px; margin:0 auto;
                >#story{
                    width:940px; height:824px;
                    margin-bottom:11.25em;
                    text-transform:uppercase;
                    >h3{
                        width:380px; height:48px;
                        font-size:2.25em;
                        font-family:$ff;
                        text-align:center;
                        border-bottom:2px solid map-get($bgc,primary2);
                        padding-bottom:40px;
                        margin: 0 auto 130px;
                    }
                    >#aboutText{
                            width:340px; height:620px;
                            float:left;
                            background-color:map-get($bgc,primary);
                            padding:186px 8px 186px 98px;
                            @extend %boxsize;
                            text-transform:uppercase;
                            >#weGuess{
                                font-weight:bold;
                                font-size:2em;
                                font-family:$ff;
                                text-align:right;
                            }
                            >#guessWhat{
                                font-size:1.5em;
                                font-family:$ff;
                                text-align:right;
                                margin-bottom:128px;
                            }
                             #btnBox{
                                width:140px; height:50px;
                                padding:6px 40px;
                                @extend %boxsize;
                                margin-left:60px;
                                text-transform:inherit;
                                font-size:1.5em;
                                font-family:$ff;
                                border:1px solid #333;
                                border-radius:10px;
                                &:hover{
                                    border:0; border-radius:10px;
                                    background-color:#c33;
                                    color:#fff;
                                }
                            }
                    }
                    >#slideImg{
                        width:410px; height:700px;
                        float:right;
                        margin-left:190px;
                        position:relative;
                        @include bg($f:"guess_model.jpg",$s:auto); 
                        background-position:center;
                        color: #fff;
                        &::after{
                            content:" "; width:100%; height:100%; 
                            background-color:hsla(0,75%,80%,0.5); 
                            display:none; 
                            position:absolute; top:0; left:0;
                        }

                        &:hover::after{display: block;}
                        &:hover{
                            @include bg($f:"guess_model.jpg");
                        }
                    }
                }
                >#video{
                    width:100%; height:770px;
                    margin-bottom:11.25em;
                    text-transform:uppercase;
                    >h3{
                        width:380px; height:48px;
                        font-size:2.25em;
                        font-family:$ff;
                        text-align:center;
                        border-bottom:2px solid map-get($bgc,primary2);
                        padding-bottom:40px;
                        margin: 0 auto 130px;
                    }
                    >#videoImg{
                        width:940px; height:auto;
                        // margin-left:20px;
                        // @include bg($f:"guess_video.png");
                    }
                }
                >#gallery{
                    width:100%; height:1426px;
                    margin-bottom:5em;
                    text-transform:uppercase;
                    >h3{
                        width:380px; height:48px;
                        font-size:2.25em;
                        font-family:$ff;
                        text-align:center;
                        border-bottom:2px solid map-get($bgc,primary2);
                        padding-bottom:40px;
                        margin: 0 auto 130px;
                    }
                    >#imgBox{
                        width:100%; height:1218px;
                        float:right;
                        margin-left:20px;
                        >#imgStyle{
                            width:420px; height:630px;
                            float:left;
                            margin-bottom:60px;
                            margin-right:94px;
                            position: relative; 
                            @include bg($f:"guess_nana.jpg");
                            >.imgCover{
                            width:140px; height:auto;
                            float:left;
                            margin-bottom:150px;
                            position: absolute;
                            bottom: 10px; left: 50%; 
                            margin-left:-70px;
                            display: none;
                            background-color:#333;
                            color:#fff;
                            }
                        &:hover>.imgCover{display: block;}
                        }

                        >#imgJacket{
                            width:420px; height:558px;
                            float:left;
                            margin-bottom:60px;
                            position: relative;
                            @include bg($f:"guess_suzy_f.jpg");
                            >.imgCover{
                            width:140px; height:auto;
                            float:left;
                            margin-bottom:150px;
                            position: absolute;
                            bottom: 10px; left: 50%; 
                            margin-left:-70px;
                            display: none;
                            background-color:#333;
                            color:#fff;
                            }
                        &:hover>.imgCover{display: block;}
                        }
                        >#imgGallery{
                            width:100%; height:530px;
                            float:left;
                            position: relative;
                            @include bg($f:"guess_suzy_s.jpg");
                            >.imgCover{
                            width:140px; height:auto;
                            float:left;
                            margin-bottom:150px;
                            position: absolute;
                            bottom: 10px; left: 50%; 
                            margin-left:-70px;
                            display: none;
                            background-color:#333;
                            color:#fff;
                            }
                            >i{
                            width:30px; height:80px;
                            padding:6px;
                            display: none;
                            @extend %boxsize;
                            border:2px solid #fff;
                            border-radius:5px;
                            >.hoverBtn{width:inherit; height:auto;
                                padding:70px;
                                @extend %boxsize;
                                margin-left:60px;
                                text-transform:inherit;
                                font-size:1em;
                                border:2px solid #fff;
                                border-radius:10px;}
                            }
                        &:hover>.imgCover{display: block;}
                        &:hover>i{display: block;}
                        }
                    }  // #imgBox
                }  // #gallery
        }
}   // #conBox

#footBox{
        width:100%; height:100px;
        background-color:#c1c1c1;
        >p{
            padding-top:40px;
            @extend %boxsize;
            font-size:1em;
            font-family:$ff;
            text-align:center;
        }
}   // #footBox