@charset "utf-8";
/*! guess_sub2.html 디자인 영역*/
// @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import "../base/variable";
@import "../base/mixin";

body{overflow-x:hidden;}
#wrap{
    width:100%; min-width:940px; height:auto; margin-top:80px;
}

#headBox{
    width:960px; height:auto;
    position:fixed;
    top:0;
    left:50%;
    z-index:100;
    margin-left:-470px;
    padding:10px 0;
    @extend %boxsize;
    background-color:map-get($bgc,white);
    text-transform:uppercase;
    >h1{
        width:200px; height:60px;
        float:left; 
        >a{
            width:inherit; height:60px;
            float:left;
            margin-left:70px;
            @include bg($f:"guess_logo_3.png");
        }
    }
    >.nav{
        width:260px/*240px*/; height:auto;
        float:right;
        position: relative;
        >#btn_menu{
            width:44px; height:46px;
            float:right;
            margin-top:10px;
            margin-right:80px;
            @include bg($f:"btn_menu_2.png");
        }
        >dl{
            width:260px; height:auto;
            float:right;
            position:absolute;
            right:-76%;
            z-index:100;
            margin-top:70px;
            background-color:map-get($bgc,gnb);
            dd:nth-child(2){
                width:100%; height:90px;
                float:left;
                padding:30px;
                padding-left:22px;
                @extend %boxsize;
                font-weight:bold;
                font-size:1.3em;
                font-family:$ff;
                text-align:center;
                background-color:map-get($bgc,white);
                border-bottom:1px solid map-get($bgc,fb);
                &:hover{
                    padding:24px;
                    @extend %boxsize;
                    font-size:1.5em;
                    border:0.2em solid map-get($bgc,black);
                    transition:all 0.4s ease 0.18s;
                }
            }
            dd:nth-child(3){
                width:100%; height:60px;
                float:left;
                padding:20px;
                @extend %boxsize;
                font-weight:bold;
                font-size:1.2em;
                font-family:$ff;
                text-align:center;
                transition:color 0.3s linear;
                &:hover{
                    z-index:120;
                    color:map-get($bgc,white);
                    background-color:map-get($bgc,black);
                }
                >a:hover{@extend %ahover;}
            }
            dd:nth-child(4){
                width:100%; height:60px;
                float:left;
                padding:20px;
                @extend %boxsize;
                font-weight:bold;
                font-size:1.2em;
                font-family:$ff;
                text-align:center;
                transition:color 0.3s linear;
                &:hover{
                    z-index:120;
                    color:map-get($bgc,white);
                    background-color:map-get($bgc,black);
                }
                >a:hover{@extend %ahover;}
            }
            dd:nth-child(5){
                width:100%; height:62px;
                float:left;
                padding:20px;
                @extend %boxsize;
                font-weight:bold;
                font-size:1.2em;
                font-family:$ff;
                text-align:center;
                transition:color 0.3s linear;
                // border-left:1em solid map-get($bgc,white);
                &:hover{
                    z-index:120;
                    color:map-get($bgc,white);
                    background-color:map-get($bgc,black);
                }
                >a:hover{@extend %ahover;}
            }
            dd:last-child{
                width:100%; height:60px;
                float:left;
                padding:20px;
                padding-left:0px;
                @extend %boxsize;
                font-weight:bold;
                font-size:1.2em;
                font-family:$ff;
                text-align:center;
                transition:color 0.3s linear;
                border-left:1em solid map-get($bgc,red);
                &:hover{
                    z-index:120;
                    color:map-get($bgc,white);
                    background-color:map-get($bgc,red);
                }
                >a:hover{@extend %ahover;}
            }
        } // dl
    } // .nav_btn
}   // #headBox

#conBox{
    width:940px; height:auto;
    margin:0 auto;
    background-color:map-get($bgc,white);
    >#adBox{
        width:100%; height:226px;
        margin-bottom:5em;
        @include bg($f:"guess_ads.jpg",$s:cover);
    }
    >#articleBox{
        width:100%; height:4944px;
        background-color:map-get($bgc,white);
        border:2px solid map-get($bgc,black);
        
        >#aboutInfo{
            width:100%; height:826px;
            margin-bottom:11.25em;
            background-color:gray;
            text-transform:uppercase;
            >h3{
                width:380px;
                height: 48px;
                font-size:2.25em;
                font-family:'Nanum Gothic', sans-serif;
                text-align:center;
                border-bottom:2px solid map-get($bgc,red);
                padding-bottom:16px;
                margin: 0 auto 8.125em;
            }
            >#aboutBox{
                position: relative;
                >#aboutImg{
                    width:80%; height:296px;
                    float:right;
                    @include bg($f:"guess_banner.jpg", $s:cover);
                    background-position:right center;
                }
                >#aboutText{
                    width:340px; height:240px;
                    position: absolute; left: 0; top: 50%;
                    margin-top: -120px;
                    background-color:map-get($bgc,white);
                }
            }
            >#guessBox{
                width:296px; height:280px;
                >#guessImg{
                    width:100%; height: auto;
                    float:left;
                    @include bg($f:"guess_ad_k1.jpg");
                }
                >#guessHug{
                    width:100%; height: auto;
                    float:right;
                    @include bg($f:"guess_ad_k2.jpg");
                }
                >#guessText{
                    width:340px; height:280px;
                    float:center;
                    background-color:map-get($bgc,white);
                }
            }
        }

        >#brandInfo{
            width:100%; height:520px;
            margin-bottom:11.25em;
            border:1px solid map-get($bgc,fb);
            >#brandImg{
                width:260px; height:500px;
                float:right;
                margin-left:100px;
                margin-left:160px;
                @include bg($f:"guess_model2.jpg");
            }
            >#brandText{
                width:200px;
                float:left;
                font-size:1em;
                font-family:$ff;
                text-align:center;
                background-color: #cc9;
            }
        }

        >#totalInfo{
            width:100%; height:500px;
            margin-bottom:11.25em;      
            border:1px solid map-get($bgc,fb);
        }

        >#styleInfo{
            width:100%; height:500px;
            margin-bottom:11.25em;
            border:1px solid map-get($bgc,fb);
        }

        >#logoInfo{
            width:100%; height:480px;
            margin-bottom:11.25em;
            border:1px solid map-get($bgc,fb);
        }

        >#asapInfo{ 
            width:100%; height:500px;
            margin-bottom:10em;
            border:1px solid map-get($bgc,fb);
        }

        >#lifeInfo{
            width:100%; height:500px;
            margin-bottom:5em;
            border:1px solid map-get($bgc,fb);
        }

    }   // #articleBox
}   // #conBox

#footBox{
    width:100%; height:80px;
    padding:30px;
    @extend %boxsize;
    background-color:map-get($bgc,gray);
    font-family:$ff;
    text-align:center;
    >.company_info{
        margin-bottom:40px;
        line-height:20px;
        font-weight: 500;
        >.company_name{
            font-weight: bolder;
        }
    }
    >p{
        font-size:1em;
        cursor:pointer;
        &:hover{font-weight:bold; color:map-get($bgc,white);}
    }
        
}   // #footBox