@charset "utf-8";
/* guess_sub1.html 디자인 영역 */
// @import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import "../base/variable";
@import "../base/mixin";

body{overflow-x:hidden;}
#wrap{
      width:100%; min-width:940px; height:auto; margin-top:130px;
}

#headBox{
        width:940px; height:auto;
        position:fixed;
        z-index:100;
        top:0;
        left:50%;
        margin-left:-470px;
        padding:30px;
        @extend %boxsize;
        background-color:map-get($bgc,white);
        text-transform:uppercase;
        >h1{
            width:220px; height:70px;
            float:left;
            @include bg($f:"guess_logo_3.png");
            >a{width: 100%; height: auto;}
        }
        >.nav_btn{
                width:240px; height:auto;
                position: relative;
            >#btn_menu{
                width:46px; height:48px;
                float:right;
                position: absolute;
                top:10%;
                right:-260%;
                @include bg($f:"btn_menu_2.png");
            }
            >dl{
                width:inherit; height:auto;
                position: absolute; 
                float:right;
                top:143%;
                right:-280%;
                z-index:100;
                background-color:map-get($bgc,gnb);
                dd:nth-child(2){
                    width:240px; height:100px;
                    float:left;
                    padding:40px;
                    @extend %boxsize;
                    font-weight:bold;
                    font-size:1.3em;
                    font-family:$ff;
                    text-align:center;
                    border-bottom:1px solid map-get($bgc,fblack);
                }
                dd:nth-child(3){
                    width:240px; height:72px;
                    float:left;
                    padding:20px;
                    @extend %boxsize;
                    font-weight:bold;
                    font-size:1.4em;
                    font-family:$ff;
                    text-align:center;
                    &:hover{background-color:map-get($bgc,white);}
                }
                dd:nth-child(4){
                    width:240px; height:72px;
                    float:left;
                    padding:20px;
                    @extend %boxsize;
                    font-weight:bold;
                    font-size:1.4em;
                    font-family:$ff;
                    text-align:center;
                    &:hover{background-color:map-get($bgc,white);}
                }
                dd:nth-child(5){
                    width:240px; height:72px;
                    float:left;
                    padding:20px;
                    @extend %boxsize;
                    font-weight:bold;
                    font-size:1.4em;
                    font-family:$ff;
                    text-align:center;
                    &:hover{background-color:map-get($bgc,white);}
                }
                dd:last-child{
                    width:240px; height:74px;
                    float:left;
                    padding:20px;
                    @extend %boxsize;
                    font-weight:bold;
                    font-size:1.4em;
                    font-family:$ff;
                    text-align:center;
                    &:hover{background-color:map-get($bgc,point);}
                }
            } // dl
        } // .nav_btn
}   // #headBox

#conBox{
        width:100%; height:800px; 
        background-color:map-get($bgc,black);
        @include bg($f:"guess_asap_3.jpg",$s:cover);
}   // #conBox

#footBox{
        width:100%; height:100px;
        background-color:map-get($bgc,footer);
        >p{
            padding-top:40px;
            @extend %boxsize;
            font-size:1em;
            font-family:$ff;
            text-align:center;
        }
}   // #footBox