@charset "utf-8";
/*! guess_sub2.html 디자인 영역*/
// @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import "../base/variable";
@import "../base/mixin";

#wrap{
      width:940px; height:auto; margin:0 auto;
}

#headBox{
        width:100%; height:160px;
        padding:50px; 
        box-sizing:border-box;
        >h1{
            width:206px; height:50px;
            float:left;
            @include bg($f:"guess_logo_3.png");
        }
        >#btn_menu{
                    width:54px; height:56px;
                    float:right;
                    @include bg($f:"btn_menu_2.png");
        }
}   // #headBox

#conBox{
        width:100%; height:4944px;
        background-color:map-get($color,primary);
        >#adBox{
                width:940px; height:226px;
                margin-bottom:5em;
                @include bg($f:"guess_ads.jpg");
        }
        >#articleBox{
                    width:100%; height:4944px;
                    background-color:#fb9;
                    >#aboutInfo{
                                width:100%; height:826px;
                                margin-bottom:11.25em;
                                background-color:gray;
                                text-transform:uppercase;
                                >h3{
                                    width:380px;
                                    height: 48px;
                                    font-size:2.25em;
                                    font-family:'Nanum Gothic', sans-serif;
                                    text-align:center;
                                    border-bottom:2px solid map-get($color,primary2);
                                    padding-bottom:16px;
                                    margin: 0 auto 8.125em;
                                }
                                >#aboutBox{ position: relative;
                                    >#aboutImg{
                                    width:80%; height:296px;
                                    float:right;
                                    @include bg($f:"guess_banner.jpg", $s:cover);
                                    background-position:right center;
                                    }
                                    >#aboutText{
                                    width:340px; height:240px;
                                    position: absolute; left: 0; top: 50%;
                                    margin-top: -120px;
                                    background-color:map-get($color,primary);                                   }
                                }
                                >#guessBox{
                                    >#guessImg{
                                        width:296px; height:280px;
                                        float:left;
                                        @include bg($f:"guess_ad_k1.jpg");
                                    }
                                    >#guessHug{
                                        width:296px; height:280px;
                                        float:right;
                                        @include bg($f:"guess_ad_k2.jpg");
                                    }
                                    >#guessText{
                                    width:340px; height:280px;
                                    float:center;
                                    background-color:map-get($color,primary);                                   }
                                }
                    }
                    >#brandInfo{
                                width:100%; height:520px;
                                margin-bottom:11.25em;
                                border:1px solid #333;
                                >#brandImg{
                                    width:260px; height:500px;
                                    float:right;
                                    margin-left:100px;
                                    margin-left:160px;
                                    @include bg($f:"guess_model2.jpg");
                                }
                                >#brandText{
                                    width:200px;
                                    float:left;
                                    font-size:1em;
                                    font-family:'Nanum Gothic', sans-serif;
                                    text-align:center;
                                    background-color: #cc9;
                                }
                    }
                    >#totalInfo{
                                width:100%; height:500px;
                                margin-bottom:11.25em;      
                                border:1px solid #333;
                    }
                    >#styleInfo{
                                width:100%; height:500px;
                                margin-bottom:11.25em;
                                border:1px solid #333;
                    }
                    >#logoInfo{
                                width:100%; height:480px;
                                margin-bottom:11.25em;
                                border:1px solid #333;
                    }
                    >#asapInfo{ 
                                width:100%; height:500px;
                                margin-bottom:10em;
                                border:1px solid #333;
                    }
                    >#lifeInfo{
                                width:100%; height:500px;
                                margin-bottom:5em;
                                border:1px solid #333;
                    }
        }
}   // #conBox

#footBox{
        width:100%; height:100px;
        background-color:#c1c1c1;
        >p{
            padding-top:40px;
            box-sizing:border-box;
            font-size:1em;
            font-family:'Nanum Gothic', sans-serif;
            text-align:center;
        }
}   // #footBox