/* ! layoutTest_170620_01.css  layoutTest_170620_01.html 문서 디자인 영역 */
@charset "utf-8";

#wrap{width:700px; height:745px; background-color:#ccc; margin:0 auto;}
/* #headBox ________________________________________________ */
#headBox{width:100%; height:80px; background-color:#0da;
  padding:10px 30px; box-sizing:border-box;} 
  h1{width:100px; height:50px; float:left; 
  background-color: #fff; margin-bottom:50px;}
  /* #gnb ________________________________________________ */
  #gnb{width:450px; height:30px; float:right; 
  background-color:rgba(250,250,250,0.5);}
    #gnb>ul{width:100%; height:100%;}
    #gnb>ul>li{width:24%; height: 100%; float:left;
     margin-left:1.3%; margin-top:20px; background-color:#fff;}
  
/* #contentBox ________________________________________________ */
#contentBox{width:100%; height:585px; background-color:#ddd;}
  .banner_box{width:100%; height:250px; background-color:#fdc;}
  .aside_box{width: 100%; height: 35px; background-color: #679;}
  .article_box{width:100%; height: 300px; background-color: #ccc;}  
    .first_box{width: 50%; height: 300px; float:left; background-color: #fbc; 
    padding:20px; box-sizing:border-box;}
      .first_box>ul{width:300px; height:250px; float:left; background-color: #fdf;}
      .first_box>ul>li{width: 150px; height: 120px; float: left;
      background-color: #fff; border:10px solid #fdf; box-sizing:border-box;}
    .second_box{width: 50%; height: 300px; float:right;
      background-color: #c0c; padding:40px 46px; box-sizing:border-box;}
      .second_box>div{width:258px; height:50px; background-color: #fff; margin-top:30px;}

/* #footBox ________________________________________________ */
#footBox{width:100%; height:80px; background-color:#f50;}