@charset "utf-8";
/*! hotelJoin_main.css */

#wrap{width:950px; height:auto; min-height:150px; margin:0 auto;}

#headBox{width:100%; height:182px; background-color:#456;}
  #unb{}
#conBox{width:100%; height:auto; background-color:#369;}
#footBox{width:100%; height:228px; background-color:#124;}