@charset "UTF-8";
/* sub_secret.html 디자인 영역 */
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Shrikhand);
#headBox > .head_wrap > #gnb, #titleArea, #recipe > ul > li, #tel > .box_wrap > #orderNum, #tel > .box_wrap > #centerNum, #tel > .box_wrap > #marketNum, #info {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#wrap {
  width: 100%;
  max-width: 1920px;
  min-width: 960px;
  height: auto;
  margin: 0 auto;
  position: relative; }

#headBox {
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(26, 26, 26, 0.8); }
  #headBox > .head_wrap {
    width: 960px;
    height: inherit;
    margin: 0 auto; }
    #headBox > .head_wrap > h1 {
      width: 140px;
      height: 94px;
      float: left;
      margin-top: 14px;
      background-color: transparent;
      background-image: url("../../img/alvolo_logo.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain; }
      #headBox > .head_wrap > h1 > a {
        width: inherit;
        height: 94px;
        display: block; }
    #headBox > .head_wrap > #gnb {
      width: 768px;
      height: 120px;
      float: right;
      padding: 40px 0; }
      #headBox > .head_wrap > #gnb > ul {
        width: 100%;
        height: auto; }
        #headBox > .head_wrap > #gnb > ul > li {
          width: auto;
          height: auto;
          float: left;
          margin-right: 20px; }
        #headBox > .head_wrap > #gnb > ul > li > a {
          display: block; }
        #headBox > .head_wrap > #gnb > ul > li > a > span {
          color: #fff;
          font-size: 1.875rem;
          font-size: 30px;
          font-weight: bold;
          font-family: "NanumSquare", "Noto Sans KR", "OpenSans", arial, sans-serif;
          vertical-align: middle; }
          #headBox > .head_wrap > #gnb > ul > li > a > span:hover {
            color: #00a9e0;
            -webkit-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease; }
        #headBox > .head_wrap > #gnb > ul > li:first-child > a > span {
          color: #00a9e0; }
        #headBox > .head_wrap > #gnb > ul > li:last-child {
          margin-right: 0; }

#adBanner {
  width: 100%;
  height: 620px;
  position: relative;
  background-color: transparent;
  background-image: url("../../img/pizza_taste.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#titleArea {
  width: 70%;
  height: 500px;
  position: absolute;
  top: 120px;
  padding: 300px 0 0 120px; }
  #titleArea > .title {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    font-family: "NanumSquare", "Noto Sans KR", "OpenSans", arial, sans-serif; }

#container {
  width: 100%;
  min-width: 960px;
  height: auto;
  margin: 0 auto;
  background-color: transparent;
  background-image: url("../../img/bg_blue.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain; }

#recipe {
  width: 100%;
  min-width: 960px;
  height: auto;
  margin: 0 auto; }
  #recipe > ul {
    width: 960px;
    height: auto;
    margin: 0 auto; }
    #recipe > ul > li {
      width: 320px;
      height: 580px;
      float: left;
      padding: 0 20px;
      margin: 200px 0; }
    #recipe > ul > li > .taste_box {
      width: 100%;
      height: auto; }
    #recipe > ul > li > .taste_box > dt {
      width: 100%;
      height: auto;
      padding-bottom: 10px;
      margin-bottom: 68px;
      border-bottom: 3px solid #1a1a1a; }
      #recipe > ul > li > .taste_box > dt > .img_dough {
        width: 260px;
        height: 260px;
        margin-bottom: 100px;
        background-color: transparent;
        background-image: url("../../img/secret_2.jpg");
        background-repeat: no-repeat;
        background-position: -50px -20px;
        background-size: 130%;
        border-radius: 130px; }
        #recipe > ul > li > .taste_box > dt > .img_dough:hover {
          background-color: transparent;
          background-image: url("../../img/secret_2.jpg");
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100%;
          -webkit-transition: all 400ms ease-out;
          -o-transition: all 400ms ease-out;
          transition: all 400ms ease-out; }
      #recipe > ul > li > .taste_box > dt > .taste_title {
        font-size: 26px;
        font-weight: bold; }
    #recipe > ul > li > .taste_box > dd {
      font-size: 16px; }
    #recipe > ul > li > .taste_box > dt > .img_cheese {
      width: 260px;
      height: 260px;
      margin-bottom: 100px;
      background-color: transparent;
      background-image: url("../../img/secret_3.jpg");
      background-repeat: no-repeat;
      background-position: -50px -20px;
      background-size: 130%;
      border-radius: 130px; }
      #recipe > ul > li > .taste_box > dt > .img_cheese:hover {
        background-color: transparent;
        background-image: url("../../img/secret_3.jpg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        -webkit-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        transition: all 400ms ease-out; }
    #recipe > ul > li > .taste_box > dt > .img_tomato {
      width: 260px;
      height: 260px;
      margin-bottom: 100px;
      background-color: transparent;
      background-image: url("../../img/secret_4.jpg");
      background-repeat: no-repeat;
      background-position: -50px -20px;
      background-size: 130%;
      border-radius: 130px; }
      #recipe > ul > li > .taste_box > dt > .img_tomato:hover {
        background-color: transparent;
        background-image: url("../../img/secret_4.jpg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        -webkit-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        transition: all 400ms ease-out; }
    #recipe > ul > li > .taste_box > dt > .img_pickle {
      width: 260px;
      height: 260px;
      margin-bottom: 100px;
      background-color: transparent;
      background-image: url("../../img/secret_5.jpg");
      background-repeat: no-repeat;
      background-position: -50px -20px;
      background-size: 130%;
      border-radius: 130px; }
      #recipe > ul > li > .taste_box > dt > .img_pickle:hover {
        background-color: transparent;
        background-image: url("../../img/secret_5.jpg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        -webkit-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        transition: all 400ms ease-out; }
    #recipe > ul > li > .taste_box > dt > .img_pizza {
      width: 260px;
      height: 260px;
      margin-bottom: 100px;
      background-color: transparent;
      background-image: url("../../img/secret_6.jpg");
      background-repeat: no-repeat;
      background-position: -50px -20px;
      background-size: 130%;
      border-radius: 130px; }
      #recipe > ul > li > .taste_box > dt > .img_pizza:hover {
        background-color: transparent;
        background-image: url("../../img/secret_6.jpg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        -webkit-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        transition: all 400ms ease-out; }
    #recipe > ul > li > .taste_box > dt > .img_meat {
      width: 260px;
      height: 260px;
      margin-bottom: 100px;
      background-color: transparent;
      background-image: url("../../img/secret_6_1.jpg");
      background-repeat: no-repeat;
      background-position: -50px -20px;
      background-size: 130%;
      border-radius: 130px; }
      #recipe > ul > li > .taste_box > dt > .img_meat:hover {
        background-color: transparent;
        background-image: url("../../img/secret_6_1.jpg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        -webkit-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        transition: all 400ms ease-out; }

#footBox {
  width: 100%;
  height: auto; }

#tel {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #1d2c3a; }
  #tel > .box_wrap {
    width: 960px;
    height: inherit;
    margin: 0 auto; }
    #tel > .box_wrap > #orderNum {
      width: 272px;
      height: inherit;
      float: left;
      padding: 30px 20px; }
      #tel > .box_wrap > #orderNum > .inner_box {
        width: 100%;
        height: auto;
        color: #fff;
        font-family: "NanumSquare", "Noto Sans KR", "OpenSans", arial, sans-serif; }
        #tel > .box_wrap > #orderNum > .inner_box > .txt {
          width: 40px;
          height: 40px;
          float: left;
          font-size: 1.125rem;
          font-size: 18px; }
        #tel > .box_wrap > #orderNum > .inner_box > a {
          float: right;
          margin-top: 6px;
          font-size: 1.875rem;
          font-size: 30px; }
    #tel > .box_wrap > #centerNum {
      width: 368px;
      height: inherit;
      float: left;
      padding: 30px 20px;
      border-left: 6px solid #fff;
      border-right: 6px solid #fff; }
      #tel > .box_wrap > #centerNum > .inner_box {
        width: 100%;
        height: auto;
        color: #fff;
        font-family: "NanumSquare", "Noto Sans KR", "OpenSans", arial, sans-serif; }
        #tel > .box_wrap > #centerNum > .inner_box > .txt {
          width: 60px;
          height: 40px;
          float: left;
          font-size: 1.125rem;
          font-size: 18px; }
        #tel > .box_wrap > #centerNum > .inner_box > a {
          float: right;
          margin-top: 6px;
          font-size: 1.875rem;
          font-size: 30px; }
    #tel > .box_wrap > #marketNum {
      width: 320px;
      height: inherit;
      float: left;
      padding: 30px 20px; }
      #tel > .box_wrap > #marketNum > .inner_box {
        width: 100%;
        height: auto;
        color: #fff;
        font-family: "NanumSquare", "Noto Sans KR", "OpenSans", arial, sans-serif; }
        #tel > .box_wrap > #marketNum > .inner_box > .txt {
          width: 40px;
          height: 40px;
          float: left;
          font-size: 1.125rem;
          font-size: 18px; }
        #tel > .box_wrap > #marketNum > .inner_box > a {
          float: right;
          margin-top: 6px;
          font-size: 1.875rem;
          font-size: 30px; }

#info {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  padding: 68px 0; }
  #info > .box_wrap {
    width: 960px;
    height: inherit;
    margin: 0 auto; }
    #info > .box_wrap > h3 {
      width: 136px;
      height: 120px;
      float: left;
      margin-top: 16px;
      margin-right: 68px;
      background-color: transparent;
      background-image: url("../../img/alvolo_logo.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain; }
    #info > .box_wrap > .copyright {
      width: 552px;
      height: 120px;
      display: inline-block;
      text-transform: uppercase; }
      #info > .box_wrap > .copyright > ul {
        width: 100%;
        height: auto;
        margin-bottom: 36px; }
        #info > .box_wrap > .copyright > ul > li {
          width: auto;
          height: 14px;
          float: left;
          margin-right: 8px;
          color: #1a1a1a;
          font-size: 0.8125rem;
          font-size: 13px;
          font-family: "Noto Sans KR", "OpenSans", arial, sans-serif; }
      #info > .box_wrap > .copyright > address {
        margin-bottom: 30px;
        font-style: normal;
        color: #1a1a1a;
        font-size: 0.8125rem;
        font-size: 13px;
        font-family: "Noto Sans KR", "OpenSans", arial, sans-serif; }
      #info > .box_wrap > .copyright > p {
        color: rgba(26, 26, 26, 0.8);
        font-size: 0.75rem;
        font-size: 12px;
        font-family: "Noto Sans KR", "OpenSans", arial, sans-serif; }
    #info > .box_wrap > .social {
      width: 100px;
      height: 40px;
      float: right;
      margin-top: 30px; }
      #info > .box_wrap > .social > li {
        width: 40px;
        height: 40px;
        float: left; }
        #info > .box_wrap > .social > li:last-child {
          float: right; }
      #info > .box_wrap > .social > li > a {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-color: transparent;
        background-image: url("../../img/facebook_logo.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain; }
      #info > .box_wrap > .social > li:last-child > a {
        background-color: transparent;
        background-image: url("../../img/instagram_logo.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain; }
