@charset "UTF-8";
/* guess_main.html 디자인 영역 */
#headBox, #headBox > .nav_btn > dl dd:nth-child(2), #headBox > .nav_btn > dl dd:nth-child(3), #headBox > .nav_btn > dl dd:nth-child(4), #headBox > .nav_btn > dl dd:nth-child(5), #headBox > .nav_btn > dl dd:last-child, #conBox > #articleBox > #story > #aboutText, #conBox > #articleBox > #story > #aboutText #btnBox, #conBox > #articleBox > #gallery > #imgBox > #imgGallery > i, #conBox > #articleBox > #gallery > #imgBox > #imgGallery > i > .hoverBtn, #footBox > p {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#wrap {
  width: 100%;
  min-width: 940px;
  height: auto;
  margin-top: 130px;
}

#headBox {
  width: 940px;
  height: auto;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  margin-left: -470px;
  padding: 30px;
  background-color: #fff;
  text-transform: uppercase;
}

#headBox > h1 {
  width: 220px;
  height: 70px;
  float: left;
  background-color: transparent;
  background-image: url("../../img/guess_logo_3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#headBox > h1 > a {
  width: 100%;
  height: auto;
}

#headBox > .nav_btn {
  width: 240px;
  height: auto;
  position: relative;
}

#headBox > .nav_btn > #btn_menu {
  width: 46px;
  height: 48px;
  float: right;
  position: absolute;
  top: 10%;
  right: -260%;
  background-color: transparent;
  background-image: url("../../img/btn_menu_2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#headBox > .nav_btn > dl {
  width: inherit;
  height: auto;
  position: absolute;
  float: right;
  top: 143%;
  right: -280%;
  z-index: 100;
  background-color: #e6e6e6;
}

#headBox > .nav_btn > dl dd:nth-child(2) {
  width: 240px;
  height: 100px;
  float: left;
  padding: 30px;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  border-bottom: 1px solid #333;
}

#headBox > .nav_btn > dl dd:nth-child(3) {
  width: 240px;
  height: 72px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}

#headBox > .nav_btn > dl dd:nth-child(3):hover {
  background-color: #fff;
}

#headBox > .nav_btn > dl dd:nth-child(4) {
  width: 240px;
  height: 72px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}

#headBox > .nav_btn > dl dd:nth-child(4):hover {
  background-color: #fff;
}

#headBox > .nav_btn > dl dd:nth-child(5) {
  width: 240px;
  height: 72px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}

#headBox > .nav_btn > dl dd:nth-child(5):hover {
  background-color: #fff;
}

#headBox > .nav_btn > dl dd:last-child {
  width: 240px;
  height: 74px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}

#headBox > .nav_btn > dl dd:last-child:hover {
  background-color: #c33;
}

#conBox {
  width: 940px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
}

#conBox > #adBox {
  width: 100vw;
  height: 1000px;
  position: relative;
  left: 50%;
  margin: 0 auto;
  margin-left: -50vw;
  margin-bottom: 11.25em;
  background-color: transparent;
  background-image: url("../../img/guess_ad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#conBox > #articleBox {
  width: 100%;
  height: 3460px;
  margin: 0 auto;
}

#conBox > #articleBox > #story {
  width: 940px;
  height: 824px;
  margin-bottom: 11.25em;
  text-transform: uppercase;
}

#conBox > #articleBox > #story > h3 {
  width: 380px;
  height: 48px;
  font-size: 2.25em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  border-bottom: 2px solid #c33;
  padding-bottom: 40px;
  margin: 0 auto 130px;
}

#conBox > #articleBox > #story > #aboutText {
  width: 340px;
  height: 620px;
  float: left;
  background-color: #fff;
  padding: 186px 8px 186px 98px;
  text-transform: uppercase;
}

#conBox > #articleBox > #story > #aboutText > #weGuess {
  font-weight: bold;
  font-size: 2em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: right;
}

#conBox > #articleBox > #story > #aboutText > #guessWhat {
  font-size: 1.5em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: right;
  margin-bottom: 128px;
}

#conBox > #articleBox > #story > #aboutText #btnBox {
  width: 140px;
  height: 50px;
  padding: 6px 40px;
  margin-left: 60px;
  text-transform: inherit;
  font-size: 1.5em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  border: 1px solid #333;
  border-radius: 10px;
}

#conBox > #articleBox > #story > #aboutText #btnBox:hover {
  border: 0;
  border-radius: 10px;
  background-color: #c33;
  color: #fff;
}

#conBox > #articleBox > #story > #slideImg {
  width: 410px;
  height: 700px;
  float: right;
  margin-left: 190px;
  position: relative;
  background-color: transparent;
  background-image: url("../../img/guess_model.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: #fff;
}

#conBox > #articleBox > #story > #slideImg::after {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: rgba(242, 166, 166, 0.5);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#conBox > #articleBox > #story > #slideImg:hover::after {
  display: block;
}

#conBox > #articleBox > #story > #slideImg:hover {
  background-color: transparent;
  background-image: url("../../img/guess_model.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#conBox > #articleBox > #video {
  width: 100%;
  height: 770px;
  margin-bottom: 11.25em;
  text-transform: uppercase;
}

#conBox > #articleBox > #video > h3 {
  width: 380px;
  height: 48px;
  font-size: 2.25em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  border-bottom: 2px solid #c33;
  padding-bottom: 40px;
  margin: 0 auto 130px;
}

#conBox > #articleBox > #video > #videoImg {
  width: 940px;
  height: auto;
}

#conBox > #articleBox > #gallery {
  width: 100%;
  height: 1426px;
  margin-bottom: 5em;
  text-transform: uppercase;
}

#conBox > #articleBox > #gallery > h3 {
  width: 380px;
  height: 48px;
  font-size: 2.25em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  border-bottom: 2px solid #c33;
  padding-bottom: 40px;
  margin: 0 auto 130px;
}

#conBox > #articleBox > #gallery > #imgBox {
  width: 100%;
  height: 1218px;
  float: right;
  margin-left: 20px;
}

#conBox > #articleBox > #gallery > #imgBox > #imgStyle {
  width: 420px;
  height: 630px;
  float: left;
  margin-bottom: 60px;
  margin-right: 94px;
  position: relative;
  background-color: transparent;
  background-image: url("../../img/guess_nana.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#conBox > #articleBox > #gallery > #imgBox > #imgStyle > .imgCover {
  width: 140px;
  height: auto;
  float: left;
  margin-bottom: 150px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -70px;
  display: none;
  background-color: #333;
  color: #fff;
}

#conBox > #articleBox > #gallery > #imgBox > #imgStyle:hover > .imgCover {
  display: block;
}

#conBox > #articleBox > #gallery > #imgBox > #imgJacket {
  width: 420px;
  height: 558px;
  float: left;
  margin-bottom: 60px;
  position: relative;
  background-color: transparent;
  background-image: url("../../img/guess_suzy_f.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#conBox > #articleBox > #gallery > #imgBox > #imgJacket > .imgCover {
  width: 140px;
  height: auto;
  float: left;
  margin-bottom: 150px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -70px;
  display: none;
  background-color: #333;
  color: #fff;
}

#conBox > #articleBox > #gallery > #imgBox > #imgJacket:hover > .imgCover {
  display: block;
}

#conBox > #articleBox > #gallery > #imgBox > #imgGallery {
  width: 100%;
  height: 530px;
  float: left;
  position: relative;
  background-color: transparent;
  background-image: url("../../img/guess_suzy_s.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#conBox > #articleBox > #gallery > #imgBox > #imgGallery > .imgCover {
  width: 140px;
  height: auto;
  float: left;
  margin-bottom: 150px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -70px;
  display: none;
  background-color: #333;
  color: #fff;
}

#conBox > #articleBox > #gallery > #imgBox > #imgGallery > i {
  width: 30px;
  height: 80px;
  padding: 6px;
  display: none;
  border: 2px solid #fff;
  border-radius: 5px;
}

#conBox > #articleBox > #gallery > #imgBox > #imgGallery > i > .hoverBtn {
  width: inherit;
  height: auto;
  padding: 70px;
  margin-left: 60px;
  text-transform: inherit;
  font-size: 1em;
  border: 2px solid #fff;
  border-radius: 10px;
}

#conBox > #articleBox > #gallery > #imgBox > #imgGallery:hover > .imgCover {
  display: block;
}

#conBox > #articleBox > #gallery > #imgBox > #imgGallery:hover > i {
  display: block;
}

#footBox {
  width: 100%;
  height: 100px;
  background-color: #c1c1c1;
}

#footBox > p {
  padding-top: 40px;
  font-size: 1em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}
