@charset "UTF-8";
/*! guess_main.html 디자인 영역*/
#wrap {
  width: 940px;
  height: auto;
  margin: 0 auto;
}

#headBox {
  width: 100%;
  height: 160px;
  position: relative;
  padding: 50px;
  box-sizing: border-box;
  text-transform: uppercase;
}

#headBox > h1 {
  width: 206px;
  height: 50px;
  float: left;
  background-color: transparent;
  background-image: url("../../img/guess_logo_3.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#headBox #btn_menu {
  width: 54px;
  height: 56px;
  float: right;
  background-color: transparent;
  background-image: url("../../img/btn_menu_2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#headBox dl {
  width: 280px;
  height: 400px;
  float: right;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 125;
  background-color: #e6e6e6;
}

#headBox dl .lg_box {
  width: 280px;
  height: 120px;
  padding: 50px 160px 50px 40px;
  box-sizing: border-box;
  font-size: 1.125em;
}

#conBox {
  width: 100%;
  height: 4140px;
  background-color: #fff;
}

#conBox > #adBox {
  width: 940px;
  height: 500px;
  position: relative;
  margin-bottom: 11.25em;
  background-color: transparent;
  background-image: url("../../img/guess_ad.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#conBox > #articleBox {
  width: 940px;
  height: 3460px;
}

#conBox > #articleBox > #story {
  width: 940px;
  height: 824px;
  margin-bottom: 11.25em;
  text-transform: uppercase;
}

#conBox > #articleBox > #story > h3 {
  width: 380px;
  height: 48px;
  font-size: 2.25em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  border-bottom: 2px solid #c33;
  padding-bottom: 40px;
  margin: 0 auto 130px;
}

#conBox > #articleBox > #story > #aboutText {
  width: 340px;
  height: 620px;
  float: left;
  background-color: #fff;
  padding: 186px 8px 186px 98px;
  box-sizing: border-box;
  text-transform: uppercase;
}

#conBox > #articleBox > #story > #aboutText > #weGuess {
  font-weight: bold;
  font-size: 2em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: right;
}

#conBox > #articleBox > #story > #aboutText > #guessWhat {
  font-size: 1.5em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: right;
  margin-bottom: 128px;
}

#conBox > #articleBox > #story > #aboutText #btnBox {
  width: 140px;
  height: 50px;
  padding: 6px 40px;
  box-sizing: border-box;
  margin-left: 60px;
  text-transform: inherit;
  font-size: 1.5em;
  font-family: 'Nanum Gothic', sans-serif;
  border: 1px solid #333;
  border-radius: 10px;
}

#conBox > #articleBox > #story > #aboutText #btnBox:hover {
  border: 0;
  border-radius: 10px;
  background-color: #c33;
  color: #fff;
}

#conBox > #articleBox > #story > #slideImg {
  width: 410px;
  height: 700px;
  float: right;
  margin-left: 190px;
  position: relative;
  background-color: transparent;
  background-image: url("../../img/guess_model.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  transition: all 500ms ease-in;
}

#conBox > #articleBox > #story > #slideImg::after {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: rgba(242, 166, 166, 0.5);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 500ms ease-in;
}

#conBox > #articleBox > #story > #slideImg:hover::after {
  display: block;
}

#conBox > #articleBox > #story > #slideImg:hover {
  background-color: transparent;
  background-image: url("../../img/guess_model.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#conBox > #articleBox > #video {
  width: 940px;
  height: 770px;
  margin-bottom: 11.25em;
  text-transform: uppercase;
}

#conBox > #articleBox > #video > h3 {
  width: 380px;
  height: 48px;
  font-size: 2.25em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  border-bottom: 2px solid #c33;
  padding-bottom: 40px;
  margin: 0 auto 130px;
}

#conBox > #articleBox > #video > #videoImg {
  width: 100%;
  height: 566px;
  float: right;
  margin-left: 20px;
  background-color: transparent;
  background-image: url("../../img/guess_video.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#conBox > #articleBox > #gallery {
  width: 940px;
  height: 1426px;
  margin-bottom: 5em;
  text-transform: uppercase;
}

#conBox > #articleBox > #gallery > h3 {
  width: 380px;
  height: 48px;
  font-size: 2.25em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  border-bottom: 2px solid #c33;
  padding-bottom: 40px;
  margin: 0 auto 130px;
}

#conBox > #articleBox > #gallery > #imgBox {
  width: 100%;
  height: 1218px;
  float: right;
  margin-left: 20px;
}

#conBox > #articleBox > #gallery > #imgBox > #imgStyle {
  width: 420px;
  height: 630px;
  float: left;
  margin-bottom: 60px;
  margin-right: 94px;
  background-color: transparent;
  background-image: url("../../img/guess_nana.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#conBox > #articleBox > #gallery > #imgBox > #imgJacket {
  width: 420px;
  height: 558px;
  float: left;
  margin-bottom: 60px;
  background-color: transparent;
  background-image: url("../../img/guess_suzy_f.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#conBox > #articleBox > #gallery > #imgBox > #imgGallery {
  width: 100%;
  height: 530px;
  float: left;
  background-color: transparent;
  background-image: url("../../img/guess_suzy_s.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#footBox {
  width: 100%;
  height: 100px;
  background-color: #c1c1c1;
}

#footBox > p {
  padding-top: 40px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}
