@charset "UTF-8";
/*! guess_sub2.html 디자인 영역*/
#headBox, #headBox > .nav > dl dd:nth-child(2), #headBox > .nav > dl dd:nth-child(2):hover, #headBox > .nav > dl dd:nth-child(3), #headBox > .nav > dl dd:nth-child(4), #headBox > .nav > dl dd:nth-child(5), #headBox > .nav > dl dd:last-child, #footBox {
  box-sizing: border-box;
}

#headBox > .nav > dl dd:nth-child(3) > a:hover, #headBox > .nav > dl dd:nth-child(4) > a:hover, #headBox > .nav > dl dd:nth-child(5) > a:hover, #headBox > .nav > dl dd:last-child > a:hover {
  color: #fff;
}

body {
  overflow-x: hidden;
}

#wrap {
  width: 100%;
  min-width: 940px;
  height: auto;
  margin-top: 80px;
}

#headBox {
  width: 960px;
  height: auto;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  margin-left: -470px;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

#headBox > h1 {
  width: 200px;
  height: 60px;
  float: left;
}

#headBox > h1 > a {
  width: inherit;
  height: 60px;
  float: left;
  margin-left: 70px;
  background-color: transparent;
  background-image: url("../../img/guess_logo_3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#headBox > .nav {
  width: 260px;
  height: auto;
  float: right;
  position: relative;
}

#headBox > .nav > #btn_menu {
  width: 44px;
  height: 46px;
  float: right;
  margin-top: 10px;
  margin-right: 80px;
  background-color: transparent;
  background-image: url("../../img/btn_menu_2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#headBox > .nav > dl {
  width: 260px;
  height: auto;
  float: right;
  position: absolute;
  right: -76%;
  z-index: 100;
  margin-top: 70px;
  background-color: #e6e6e6;
}

#headBox > .nav > dl dd:nth-child(2) {
  width: 100%;
  height: 90px;
  float: left;
  padding: 30px;
  padding-left: 22px;
  font-weight: bold;
  font-size: 1.3em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #333;
}

#headBox > .nav > dl dd:nth-child(2):hover {
  padding: 24px;
  font-size: 1.5em;
  border: 0.2em solid #000;
  transition: all 0.4s ease 0.18s;
}

#headBox > .nav > dl dd:nth-child(3) {
  width: 100%;
  height: 60px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  transition: color 0.3s linear;
}

#headBox > .nav > dl dd:nth-child(3):hover {
  z-index: 120;
  color: #fff;
  background-color: #000;
}

#headBox > .nav > dl dd:nth-child(4) {
  width: 100%;
  height: 60px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  transition: color 0.3s linear;
}

#headBox > .nav > dl dd:nth-child(4):hover {
  z-index: 120;
  color: #fff;
  background-color: #000;
}

#headBox > .nav > dl dd:nth-child(5) {
  width: 100%;
  height: 62px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  transition: color 0.3s linear;
}

#headBox > .nav > dl dd:nth-child(5):hover {
  z-index: 120;
  color: #fff;
  background-color: #000;
}

#headBox > .nav > dl dd:last-child {
  width: 100%;
  height: 60px;
  float: left;
  padding: 20px;
  padding-left: 0px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  transition: color 0.3s linear;
  border-left: 1em solid #c33;
}

#headBox > .nav > dl dd:last-child:hover {
  z-index: 120;
  color: #fff;
  background-color: #c33;
}

#conBox {
  width: 940px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
}

#conBox > #adBox {
  width: 100%;
  height: 226px;
  margin-bottom: 5em;
  background-color: transparent;
  background-image: url("../../img/guess_ads.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#conBox > #articleBox {
  width: 100%;
  height: 4944px;
  background-color: #fff;
  border: 2px solid #000;
}

#conBox > #articleBox > #aboutInfo {
  width: 100%;
  height: 826px;
  margin-bottom: 11.25em;
  background-color: gray;
  text-transform: uppercase;
}

#conBox > #articleBox > #aboutInfo > h3 {
  width: 380px;
  height: 48px;
  font-size: 2.25em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  border-bottom: 2px solid #c33;
  padding-bottom: 16px;
  margin: 0 auto 8.125em;
}

#conBox > #articleBox > #aboutInfo > #aboutBox {
  position: relative;
}

#conBox > #articleBox > #aboutInfo > #aboutBox > #aboutImg {
  width: 80%;
  height: 296px;
  float: right;
  background-color: transparent;
  background-image: url("../../img/guess_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

#conBox > #articleBox > #aboutInfo > #aboutBox > #aboutText {
  width: 340px;
  height: 240px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -120px;
  background-color: #fff;
}

#conBox > #articleBox > #aboutInfo > #guessBox {
  width: 296px;
  height: 280px;
}

#conBox > #articleBox > #aboutInfo > #guessBox > #guessImg {
  width: 100%;
  height: auto;
  float: left;
  background-color: transparent;
  background-image: url("../../img/guess_ad_k1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#conBox > #articleBox > #aboutInfo > #guessBox > #guessHug {
  width: 100%;
  height: auto;
  float: right;
  background-color: transparent;
  background-image: url("../../img/guess_ad_k2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#conBox > #articleBox > #aboutInfo > #guessBox > #guessText {
  width: 340px;
  height: 280px;
  float: center;
  background-color: #fff;
}

#conBox > #articleBox > #brandInfo {
  width: 100%;
  height: 520px;
  margin-bottom: 11.25em;
  border: 1px solid #333;
}

#conBox > #articleBox > #brandInfo > #brandImg {
  width: 260px;
  height: 500px;
  float: right;
  margin-left: 100px;
  margin-left: 160px;
  background-color: transparent;
  background-image: url("../../img/guess_model2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#conBox > #articleBox > #brandInfo > #brandText {
  width: 200px;
  float: left;
  font-size: 1em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  background-color: #cc9;
}

#conBox > #articleBox > #totalInfo {
  width: 100%;
  height: 500px;
  margin-bottom: 11.25em;
  border: 1px solid #333;
}

#conBox > #articleBox > #styleInfo {
  width: 100%;
  height: 500px;
  margin-bottom: 11.25em;
  border: 1px solid #333;
}

#conBox > #articleBox > #logoInfo {
  width: 100%;
  height: 480px;
  margin-bottom: 11.25em;
  border: 1px solid #333;
}

#conBox > #articleBox > #asapInfo {
  width: 100%;
  height: 500px;
  margin-bottom: 10em;
  border: 1px solid #333;
}

#conBox > #articleBox > #lifeInfo {
  width: 100%;
  height: 500px;
  margin-bottom: 5em;
  border: 1px solid #333;
}

#footBox {
  width: 100%;
  height: 80px;
  padding: 30px;
  background-color: #c1c1c1;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}

#footBox > .company_info {
  margin-bottom: 40px;
  line-height: 20px;
  font-weight: 500;
}

#footBox > .company_info > .company_name {
  font-weight: bolder;
}

#footBox > p {
  font-size: 1em;
  cursor: pointer;
}

#footBox > p:hover {
  font-weight: bold;
  color: #fff;
}
