@charset "UTF-8";
/* guess_sub1.html 디자인 영역 */
#headBox, #headBox > .nav_btn > dl dd:nth-child(2), #headBox > .nav_btn > dl dd:nth-child(3), #headBox > .nav_btn > dl dd:nth-child(4), #headBox > .nav_btn > dl dd:nth-child(5), #headBox > .nav_btn > dl dd:last-child, #footBox > p {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#wrap {
  width: 100%;
  min-width: 940px;
  height: auto;
  margin-top: 130px;
}

#headBox {
  width: 940px;
  height: auto;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  margin-left: -470px;
  padding: 30px;
  background-color: #fff;
  text-transform: uppercase;
}

#headBox > h1 {
  width: 220px;
  height: 70px;
  float: left;
  background-color: transparent;
  background-image: url("../../img/guess_logo_3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#headBox > h1 > a {
  width: 100%;
  height: auto;
}

#headBox > .nav_btn {
  width: 240px;
  height: auto;
  position: relative;
}

#headBox > .nav_btn > #btn_menu {
  width: 46px;
  height: 48px;
  float: right;
  position: absolute;
  top: 10%;
  right: -260%;
  background-color: transparent;
  background-image: url("../../img/btn_menu_2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#headBox > .nav_btn > dl {
  width: inherit;
  height: auto;
  position: absolute;
  float: right;
  top: 143%;
  right: -280%;
  z-index: 100;
  background-color: #e6e6e6;
}

#headBox > .nav_btn > dl dd:nth-child(2) {
  width: 240px;
  height: 100px;
  float: left;
  padding: 40px;
  font-weight: bold;
  font-size: 1.3em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
  border-bottom: 1px solid #333;
}

#headBox > .nav_btn > dl dd:nth-child(3) {
  width: 240px;
  height: 72px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}

#headBox > .nav_btn > dl dd:nth-child(3):hover {
  background-color: #fff;
}

#headBox > .nav_btn > dl dd:nth-child(4) {
  width: 240px;
  height: 72px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}

#headBox > .nav_btn > dl dd:nth-child(4):hover {
  background-color: #fff;
}

#headBox > .nav_btn > dl dd:nth-child(5) {
  width: 240px;
  height: 72px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}

#headBox > .nav_btn > dl dd:nth-child(5):hover {
  background-color: #fff;
}

#headBox > .nav_btn > dl dd:last-child {
  width: 240px;
  height: 74px;
  float: left;
  padding: 20px;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}

#headBox > .nav_btn > dl dd:last-child:hover {
  background-color: #c33;
}

#conBox {
  width: 100%;
  height: 800px;
  background-color: #000;
  background-color: transparent;
  background-image: url("../../img/guess_asap_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#footBox {
  width: 100%;
  height: 100px;
  background-color: #c1c1c1;
}

#footBox > p {
  padding-top: 40px;
  font-size: 1em;
  font-family: "NanumGothic", "OpenSans", arial, sans-serif;
  text-align: center;
}
