/* main.css */
#headBox, #gnb, #longBox, .title, .order, .price {
  box-sizing: border-box;
}

/*! guess_main.html */
#wrap {
  width: 940px;
  height: auto;
  margin: 0 auto;
}

#headBox {
  width: 100%;
  height: 160px;
  padding: 60px;
  box-sizing: border-box;
}

#headBox > h1 {
  width: 206px;
  height: 42px;
  float: left;
  background-color: #904;
  background-image: url("../../img/guess_logo_3.png");
  background-repeat: no-repeat;
  background-position: -56px 60px;
}

#headBox > #btn_menu {
  width: 54px;
  height: 56px;
  float: right;
  background-color: transparent;
  background-image: url("../../img/btn_menu_2.png");
  background-repeat: no-repeat;
}

#conBox {
  width: 100%;
  height: 4140px;
  background-color: #fff;
}

#conBox > #adBox {
  width: 940px;
  height: 500px;
  margin-bottom: 11.25em;
  background-color: #fcb;
}

#conBox > #articleBox {
  width: 940px;
  height: 3460px;
}

#conBox > #articleBox > #story {
  width: 940px;
  height: 824px;
  margin-bottom: 11.25em;
}

#conBox > #articleBox > #story > h3 {
  width: 100%;
  float: left;
  font-size: 2.25em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

#conBox > #articleBox > #story > .redLine {
  width: 380px;
  height: 2px;
  float: left;
  margin: 0 280px 130px 280px;
  background-color: #c33;
}

#conBox > #articleBox > #story > #aboutText {
  width: 340px;
  height: 616px;
  float: left;
  background-color: #fff;
  padding: 186px 8px 146px 98px;
  box-sizing: border-box;
}

#conBox > #articleBox > #story > #aboutText > #weGuess {
  font-weight: bold;
  font-size: 2em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: right;
}

#conBox > #articleBox > #story > #aboutText > #guessWhat {
  font-size: 1.5em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: right;
  margin-bottom: 128px;
}

#conBox > #articleBox > #story > #aboutText > #btnBox {
  width: 140px;
  height: 50px;
  padding: 6px 40px;
  box-sizing: border-box;
  margin-left: 60px;
  font-size: 1.5em;
  font-family: 'Nanum Gothic', sans-serif;
  border: 1px solid #333;
  border-radius: 10px;
}

#conBox > #articleBox > #story > #slideImg {
  width: 460px;
  height: 614px;
  float: right;
  margin-left: 140px;
  background-color: #468;
}

#conBox > #articleBox > #video {
  width: 940px;
  height: 770px;
  margin-bottom: 11.25em;
}

#conBox > #articleBox > #video > h3 {
  width: 100%;
  float: left;
  font-size: 2.25em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

#conBox > #articleBox > #video > .redLine {
  width: 380px;
  height: 2px;
  float: left;
  margin: 0 280px 130px 280px;
  background-color: #c33;
}

#conBox > #articleBox > #video > #videoImg {
  width: 100%;
  height: 566px;
  float: right;
  margin-left: 20px;
  background-color: #cdf;
}

#conBox > #articleBox > #gallery {
  width: 940px;
  height: 1426px;
  margin-bottom: 5em;
}

#conBox > #articleBox > #gallery > h3 {
  width: 100%;
  float: left;
  font-size: 2.25em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

#conBox > #articleBox > #gallery > .redLine {
  width: 380px;
  height: 2px;
  float: left;
  margin: 0 280px 130px 280px;
  background-color: #c33;
}

#conBox > #articleBox > #gallery > #imgBox {
  width: 100%;
  height: 1218px;
  float: right;
  margin-left: 20px;
  background-color: #cdf;
}

#conBox > #articleBox > #gallery > #imgBox > #innerBox {
  width: 100%;
  height: 630px;
  float: left;
  margin-bottom: 60px;
  border: 1px solid #333;
}

#conBox > #articleBox > #gallery > #imgBox > #innerBox > #imgStyle {
  width: 420px;
  height: 630px;
  float: left;
  margin-right: 94px;
  border: 1px solid #333;
}

#conBox > #articleBox > #gallery > #imgBox > #innerBox > #imgJacket {
  width: 420px;
  height: 558px;
  float: left;
  border: 1px solid #333;
}

#conBox > #articleBox > #gallery > #imgBox > #imgGallery {
  width: 100%;
  height: 530px;
  float: left;
  border: 1px solid #333;
}

#footBox {
  width: 100%;
  height: 100px;
  background-color: #c1c1c1;
}

#footBox > p {
  padding-top: 40px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

/*! guess_sub1.html */
#wrap {
  width: 960px;
  height: auto;
  margin: 0 auto;
}

#headBox {
  width: 100%;
  height: 100px;
  padding: 30px 15px 30px 15px;
  box-sizing: border-box;
  background-color: #a3a3a6;
}

#search {
  width: 230px;
  height: 40px;
  float: left;
  margin: 0 140px 0 20px;
  background-color: #44d;
}

h1 {
  width: 160px;
  height: 40px;
  float: left;
  background-color: #faa;
}

h1 > a {
  width: 100%;
  height: auto;
  display: block;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
}

#unb {
  width: 104px;
  height: 40px;
  float: right;
  background-color: #dde;
}

#unb > ul {
  width: 104px;
  height: 40px;
}

#unb > ul > li {
  width: 40px;
  height: 40px;
  float: left;
  background-color: yellow;
}

#unb > ul > li:nth-child(2) {
  margin-left: 24px;
}

#conBox {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
}

#gnb {
  width: 220px;
  height: 340px;
  float: left;
  padding: 45px 15px 50px 15px;
  box-sizing: border-box;
  background-color: #b2b2b2;
}

#gnb > ul {
  width: 100%;
  height: auto;
}

#gnb > ul > li {
  width: 180px;
  height: 40px;
  float: left;
  margin-bottom: 10px;
  background-color: powderblue;
}

#about {
  width: 740px;
  height: 380px;
  padding-right: 20px;
  box-sizing: border-box;
  float: right;
  /*background-color:rgba(200,230,250,0.5);*/
}

#board {
  width: 700px;
  height: 340px;
  padding: 34px 15px 0 15px;
  box-sizing: border-box;
  float: right;
  margin-top: 2.5em;
  background-color: #e2dbcb;
}

/*#board>div{width: 100%; height: auto;}*/
#board > .we {
  width: 420px;
  height: 280px;
  /*     background-color:rgba(195,151,151,0.5)*/
}

.we > h3 {
  background-color: #fff;
  font-size: 2em;
}

.we > h3 > .mini_text {
  font-size: 0.5em;
}

.we > p {
  background-color: #ffa;
  box-sizing: border-box;
  padding: 1em;
  margin-top: 0.5em;
}

#birth {
  width: 740px;
  height: 450px;
  float: right;
  padding-top: 100px;
  box-sizing: border-box;
}

#question {
  width: 740px;
  height: 100px;
  float: left;
  border: 1px solid #222;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
}

#explain {
  width: 740px;
  height: 250px;
}

#explain > ul {
  width: 740px;
  height: 150px;
}

#explain > ul > li {
  height: 150px;
  float: left;
  background-color: #e2dbcb;
}

#explain > ul > li:nth-child(1) {
  width: 150px;
  background-color: #dff;
}

#explain > ul > li:nth-child(2) {
  width: 440px;
  background-color: #dfd;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
}

#explain > ul > li:nth-child(3) {
  width: 150px;
  background-color: #ddf;
}

#story {
  width: 740px;
  height: 390px;
  float: right;
  background-color: rgba(131, 211, 125, 0.2);
}

#tBox1 {
  width: 370px;
  height: 390px;
  float: left;
  text-align: center;
}

#tBox2 {
  width: 370px;
  height: 390px;
  float: right;
  background-color: #fff;
}

#footBox {
  width: 100%;
  height: 100px;
  background-color: #363636;
}

address {
  width: 100%;
  height: 80px;
  color: #fff;
}

#footLogo {
  background-image: url("../../img/guess_logo_1.png");
  background-repeat: no-repeat;
  background-position: center;
}

#snsBtn {
  width: 100%;
}

/*! guess_sub2.html */
#wrap {
  width: 960px;
  height: auto;
  margin: 0 auto;
}

#headBox {
  width: 100%;
  height: 100px;
  padding: 30px 15px 30px 15px;
  background-color: #a3a3a6;
}

#search {
  width: 230px;
  height: 40px;
  float: left;
  margin: 0 140px 0 20px;
  background-color: #44d;
}

h1 {
  width: 160px;
  height: 40px;
  float: left;
  background-color: #faa;
}

h1 > a {
  width: 100%;
  height: auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

#unb {
  width: 104px;
  height: 40px;
  float: right;
  background-color: #dde;
}

#unb > ul {
  width: 104px;
  height: 40px;
}

#unb > ul > li {
  width: 40px;
  height: 40px;
  float: left;
  background-color: yellow;
}

#unb > ul > li:nth-child(2) {
  margin-left: 24px;
}

#conBox {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
}

#gnb {
  width: 220px;
  height: 340px;
  float: left;
  padding: 45px 15px 50px 15px;
  background-color: #b2b2b2;
}

#gnb > ul {
  width: 100%;
  height: auto;
}

#gnb > ul > li {
  width: 180px;
  height: 40px;
  float: left;
  margin-bottom: 10px;
  background-color: powderblue;
}

#longBox {
  width: 740px;
  height: 550px;
  float: right;
  padding: 50px 20px 0 20px;
}

#longBox > #jeansBox {
  width: 700px;
  height: 500px;
  background-color: #dde;
}

#jeansBox > ul > li {
  width: 230px;
  height: 500px;
  float: left;
  margin-right: 5px;
}

#jeansBox > ul > li:nth-child(1) {
  background-color: #dca;
}

#jeansBox > ul > li:nth-child(2) {
  background-color: #fdc;
}

#jeansBox > ul > li:nth-child(3) {
  margin-right: 0;
  background-color: #bca;
}

#products {
  width: 740px;
  height: 600px;
  float: right;
}

.title {
  width: 100%;
  height: 120px;
  float: left;
  padding: 30px 0 30px 30px;
}

.title > h3 {
  width: 250px;
  height: 50px;
  float: left;
  margin-left: 170px;
  text-align: center;
  font-size: 2em;
  border-bottom: 5px solid #bbb;
}

.top_btn {
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 5px;
  border-radius: 2em;
  border: 0.5px solid #222;
  background-color: red;
  color: #fff;
  text-align: center;
}

.order {
  width: 740px;
  height: 90px;
  float: left;
  padding: 30px 10px 30px 10px;
  border: 0.5px solid #222;
}

.order > .ul {
  width: 740px;
  height: 90px;
}

.order > ul > li {
  width: 45px;
  height: 30px;
  float: left;
  margin-right: 20px;
  border: 0.5px solid #222;
  background-color: lightyellow;
}

.order > ul > li:nth-child(3) {
  margin: 0 0 0 500px;
}

.image {
  width: 740px;
  height: 210px;
  float: left;
}

.image > ul {
  width: 740px;
  height: 210px;
}

.image > ul > li {
  width: 210px;
  height: 210px;
  float: left;
  margin-right: 55px;
  background-color: pink;
}

.image > ul > li:nth-child(3) {
  margin-right: 0;
}

.price {
  width: 740px;
  height: 150px;
  float: left;
  padding-top: 30px;
  margin-right: 50px;
}

.box1 {
  width: 210px;
  height: 70px;
  float: left;
  margin-right: 55px;
}

.box1 > ul > li {
  height: 20px;
  float: left;
}

.box1 > ul > li:nth-child(1) {
  width: 60px;
  margin-right: 60px;
  background-color: #ccc;
}

.box1 > ul > li:nth-child(2) {
  margin-right: 0;
}

.box1 > ul > li:nth-child(3) {
  width: 135px;
  background-color: #ccc;
}

.box1 > ul > li:nth-child(4) {
  margin-right: 0;
}

.box2 {
  width: 210px;
  height: 70px;
  float: left;
  margin-right: 55px;
}

.box2 > ul > li {
  height: 20px;
  float: left;
}

.box2 > ul > li:nth-child(1) {
  width: 60px;
  margin-right: 60px;
  background-color: #ccc;
}

.box2 > ul > li:nth-child(2) {
  margin-right: 0;
}

.box2 > ul > li:nth-child(3) {
  width: 135px;
  background-color: #ccc;
}

.box2 > ul > li:nth-child(4) {
  margin-right: 0;
}

.box3 {
  width: 210px;
  height: 70px;
  float: left;
}

.box3 > ul > li {
  height: 20px;
  float: left;
}

.box3 > ul > li:nth-child(1) {
  width: 60px;
  margin-right: 60px;
  background-color: #ccc;
}

.box3 > ul > li:nth-child(2) {
  margin-right: 0;
}

.box3 > ul > li:nth-child(3) {
  width: 135px;
  background-color: #ccc;
}

.box3 > ul > li:nth-child(4) {
  margin-right: 0;
}

#footBox {
  width: 100%;
  height: 100px;
  background-color: #363636;
}

address {
  width: 100%;
  height: 80px;
  color: #fff;
}

#footLogo {
  background-image: url("../../img/guess_logo_1.png");
  background-repeat: no-repeat;
  background-position: center;
}

#snsBtn {
  width: 100%;
}
